In [1]:
import pandas as pd

In [15]:
# Read data from file
df = pd.read_csv('adult.data.csv', header=0)
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
 # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
race_count = df['race'].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [4]:
# What is the average age of men?
average_age_men = df[df['sex'] == 'Male']['age'].mean()
round(float(average_age_men), 1)

39.4

In [5]:
# What is the percentage of people who have a Bachelor's degree?
percentage_bachelors = df[df.education == 'Bachelors'].shape[0] * 100 / df.shape[0]   
round(percentage_bachelors, 2)

16.45

In [6]:
# What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
higher_educated_people = df[df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
higher_education_rich = ((higher_educated_people[higher_educated_people.salary == '>50K'].shape[0]) * 100) / higher_educated_people.shape[0]
round(higher_education_rich, 2)

46.54

In [7]:
# What percentage of people without advanced education make more than 50K?
people_without_education =  df[~df.education.isin(['Bachelors', 'Masters', 'Doctorate'])]
lower_education_rich =  ((people_without_education[people_without_education.salary == '>50K'].shape[0]) * 100) / people_without_education.shape[0]
round(lower_education_rich, 2)

17.37

In [8]:
# What is the minimum number of hours a person works per week (hours-per-week feature)?
min_work_hours = df['hours-per-week'].min()
min_work_hours

np.int64(1)

In [9]:
 # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
working_people = df[df['hours-per-week'] == 40]
num_min_workers = ((df[(df['hours-per-week'] == 40) & (df['salary'] == '>50K')].shape[0]) * 100) / working_people.shape[0]
round(num_min_workers, 2)
# working_people

21.34

In [10]:
# What country has the highest percentage of people that earn >50K?
rich_countries = df[df.salary == '>50K']['native-country'].value_counts()
highest_earning_country = rich_countries.idxmax()
highest_earning_country_percentage = (rich_countries.max() * 100) / rich_countries.sum()
highest_earning_country, round(highest_earning_country_percentage, 2)

('United-States', np.float64(91.46))

In [11]:
# Identify the most popular occupation for those who earn >50K in India.
top_IN_occupation = df[(df['native-country'] == 'India') & (df['salary'] == '>50K')]['occupation'].value_counts().idxmax()
top_IN_occupation

'Prof-specialty'